.box-list {
  background-color: #fff;
  position: relative;
  border-bottom: 1px #ccc solid;
  padding: 1.5rem;
  margin: 0 3rem;
  list-style-type: none;
}

.box-title {
  color: #333;
  text-decoration: none;
  z-index: 0;
}

.box-date {
  color: #333;
  margin: 0 1rem;
  position: absolute;
  right: 7rem;
}

.box-author {
  /* 13pt === 1.08rem */
  font-size: 1.08rem;
  color: #999;
}

.box-button {
  margin: 0 1rem;
  position: absolute;
  right: 0px;
  opacity: 0;
  background-color: transparent;
  border: none !important;
  margin: 0 1rem;
  z-index: 100;
}

.box-button:hover {
  opacity: 1;
  z-index: 100;
}

.box-list:hover {
  background-color: #fafafa;
}
